*{
    padding: 0px;
    margin: 0px;
}

html{
    background: white;
}

.back{
    background: white;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Century;

}

.log{
    height: auto;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    margin-bottom: 40px;

    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.signup{
    text-align: center;
    color: black;
    margin-left: 5%;
}

.link{
    text-align: center;
    color: green;
    
    
}
.heading{
    text-align: center;
    margin-top: 40px;
}

.input{
    height: 30px;
    width: 90%;
    padding: 2px;
    margin-top: 10px;

}

/* ----------------------------------------------------------------------- */

.input.success input {
	border-color: #2ecc71;
}

.input.error input {
	border-color: #e74c3c;
}

.input i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.input.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.input.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.input small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.input.error small {
	visibility: visible;
}

/* ------------------------------------------------------------------------------------- */

.btn{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background: rgb(31, 89, 214);
    color: white;
    margin-top: 10%;
    margin-left: 40%;
    

}
.btn2{
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    background: rgb(237, 238, 241);
    color: rgb(82, 25, 226);
    margin-top: 10%;
    
    margin-left: 40%;
    

}

h1,h2,h3,h4,h5,h6,label{
    font-family: roboto;
    color: rgb(10, 10, 132);
}

.footer{
    background: #ad0755;
    height: 60px;
    width: 100%;
    float: left;

}

footer{
    text-align: center;
    color: white;
    line-height: 50px;
}

.sha{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

#section{
    height: auto;
    width: 1200px;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content{
     margin-top: 30px;
    height: auto;
    width: 850px;
    float: left; 
    
}

.imgs{
   
    height: 230px;
    width: 200px;
    float: left;
    margin: 20px;
}

.para{
    text-align: justify;
    margin-left: 10px;
    padding: 15px;
    line-height: 35px;
}

.sidebar{
     width: 300px;
    height: auto;
    margin-top: 30px;
    margin-right: 30px; 
     float: left; 
    background: white;

  }

.text{
    text-align: center;
    
}

.error{
    text-align: center;
    background: yellow;
    color: red;
    line-height: 30px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;

}

.li{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: 1px solid #ecf0f1;
}

.side{
    list-style: none;
}

.navbar{
    background: #55c5f1;
    height: 60px;
    width: 100%;
}

.list{
    list-style: none;
    text-align: right;

}
.list li{
    display: inline;
    
}

.list li a{
    text-decoration: none;
    color: #750036 ;
    line-height: 50px;
    padding: 20px;
    
}

.input2{
width: 80%;
height: 40px;
margin-top: 20px;
}

.tbox{
    float: left;

}

.tbox table{
    border-collapse: collapse;

}

tr, td, th {
    padding: 20px;
}

.table{
    border-collapse: collapse;
}

.success{
    background-color: green;
    color: white;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.error{

    background-color: #E91908;
    color: white;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.btnr{

    border-radius: 5px;
    padding: 5px;
    background-color: dodgerblue;
    color: white;

}
.btns{

    border-radius: 5px;
    padding: 5px;
    background-color: #1FAE10;
    color: white;

}

 .btnr:hover{

    border-radius:5px;
    padding: 5px;
    background:#F50909;
    color: white;

} 

.btns:hover{

    border-radius:5px;
    padding: 5px;
    background:#F50909;
    color: white;


} 

.flexbox-container{
    display:flex;
    flex-direction: row;
    
  
    justify-content: space-around;
    align-items: stretch;
}
.flexbox-container div{
    width: 400px;
    height: 400px;
    display :inline;
    border-radius: 25px;
    border-color: white ;
    background-color: #290d6e;
}
.flexbox-container h1{
    color: white;
    text-align: center;
}
.flexbox-container h2{
    color: rgb(196, 228, 206);
    text-align: center;
}
.flexbox-container p{
    color: rgb(188, 227, 95);
    text-align: center;
    font-size: 20px; 
}

.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid;
    background: #750036;
}

.flexbox-item1{
    min-height: 100px;
}
.flexbox-item2{
    min-height: 200px;
}
.flexbox-item3{
    min-height: 300px;
}

.flexbox-item4{
    min-height: 300px;
}

.imag{
    background-color: #1ea7bc;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 50px ;
    margin-right: 50px;
    padding: 10px;
    
}

.about{
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    font-size: large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

